:root {
    --background: #000000;
    --darkblue: #14213D;
    --button: #FCA311;
    --buttonHover: #db8e13;
    --container: #E5E5E5;
    --text: #FFFFFF;
}

body{
    background-color: var(--background);
}

nav{
    background-color: var(--darkblue);
}

section{
    height:auto;
}

#main-search-box{
    background-color: var(--darkblue);
    color: var(--text);
    transform: translateY(20vh);
}

#artist-bio{
    background-color: var(--darkblue);
    color: var(--text);
    height: fit-content;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn{
    background-color: var(--button);
    border-color: var(--button);
    color: var(--text);
}

.btn:hover{
    background-color: var(--buttonHover);
    border-color: var(--buttonHover);
}

.btn:focus{
    background-color: var(--buttonHover);
    border-color: var(--buttonHover);
}

.btn:active{
    background-color: var(--buttonHover) !important;
    border-color: var(--buttonHover) !important;
}

.jumbotron{
    background-color: var(--container);
    background-image: url(../images/concert-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:90vh;
}

.modal-content{
    background-color: var(--darkblue);
    color: var(--text);
}

.close {
    color: var(--text); 
    opacity: 1;
}

.close:hover {
    color: var(--container); 
    opacity: 1;
}

footer{
    position: sticky;
}

.artistBio{
    width:200px;
    height: 200px;
    position: fixed;
    background-repeat: no-repeat;
    border-radius: 50%;
    z-index: 1;
    left: 200px;
    top: 200px;
}

#events-list{
    color: var(--text);
}

.card{
    background-color: var(--darkblue);
    min-width: 10%;
    white-space: pre-wrap;
    padding: 10%;
}

.btn-toolbar{
    justify-content: space-between;
}

.map-display{
    display: flex;
    flex-direction: column;
}

.hide{
   display:none;
}

#saved-events{
    background-color: var(--darkblue);
    color: var(--text);
}

@media only screen and (max-width: 600px){
    .artistBio{
        display:none;
    }
}