:root {
    --background: #000000;
    --darkblue: #14213D;
    --button: #FCA311;
    --buttonHover: #db8e13;
    --container: #E5E5E5;
    --text: #FFFFFF;
}

body{
    background-color: var(--background);
}

nav{
    background-color: var(--darkblue);
}

section{
    height:auto;
}

#main-search-box{
    background-color: var(--darkblue);
    color: var(--text);
    transform: translateY(20vh);
}

.btn{
    background-color: var(--button);
    border-color: var(--button);
    color: var(--text);
}

.btn:hover{
    background-color: var(--buttonHover);
    border-color: var(--buttonHover);
}

.btn:focus{
    background-color: var(--buttonHover);
    border-color: var(--buttonHover);
}

.btn:active{
    background-color: var(--buttonHover) !important;
    border-color: var(--buttonHover) !important;
}

.jumbotron{
    background-color: var(--container);
    background-image: url(../images/rockOn_dark.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:80vh;
}

.modal-content{
    background-color: var(--darkblue);
    color: var(--text);
}

.close {
    color: var(--text); 
    opacity: 1;
}

.close:hover {
    color: var(--container); 
    opacity: 1;
}

footer{
    position: sticky;
}