:root {
    --background: #000000;
    --darkblue: #14213D;
    --button: #FCA311;
    --buttonHover: #db8e13;
    --container: #E5E5E5;
    --text: #FFFFFF;
}

body{
    background-color: var(--background);
}

nav{
    background-color: var(--darkblue);
}

section{
    height:auto;
}

#main-search-box{
    background-color: var(--darkblue);
    color: var(--text);
    transform: translateY(20vh);
}

#artist-bio{
    color: var(--text);
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}

.artistName{
    font-size: 10ch;
    color: rgba(255, 255, 255, 0.8);
    padding-left: 2%;
}

.btn{
    background-color: var(--button);
    border-color: var(--button);
    color: var(--text);
}

.btn:hover{
    background-color: var(--buttonHover);
    border-color: var(--buttonHover);
}

.btn:focus{
    background-color: var(--buttonHover);
    border-color: var(--buttonHover);
}

.btn:active{
    background-color: var(--buttonHover) !important;
    border-color: var(--buttonHover) !important;
}

.jumbotron{
    background-color: var(--container);
    background-image: url(../images/concert-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height:90vh;
}

.modal-content{
    background-color: var(--darkblue);
    color: var(--text);
}

.close {
    color: var(--text); 
    opacity: 1;
}

.close:hover {
    color: var(--container); 
    opacity: 1;
}

footer{
    position: sticky;
}

.artistImg{
    width:150px;
    height: 150px;
    background-repeat: no-repeat;
    border-radius: 50%;
}

#events-list{
    color: var(--text);
}

.card{
    background-color: var(--darkblue);
    min-width: 10%;
    white-space: pre-wrap;
    padding: 1%;
}

.btn-toolbar{
    justify-content: space-between;
}

.map-display{
    display: flex;
    flex-direction: column;
}

#saved-events{
    border-radius: 10px;
    color:var(--text);
    display: flex;
    flex-wrap: wrap;
}

.hide{
   display:none;
}

#saved-events{
    background-color: var(--darkblue);
    color: var(--text);
}

#routeInfo{
    color: var(--text);
    background-color: var(--darkblue);
}

.distance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    z-index: 1;
    top: 20%;
    background-color: var(--darkblue);
    border: 1px solid var(--darkblue);
    color: var(--text);
    border-radius: 15px;
  }
  
  .distance .flex {
    display: flex;
    justify-content: flex-end;
  }
  
  .distance p {
    font-size: 0.9rem;
    margin: 0.4rem 0 0.2rem;
  }
  
  .btn-close {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    border: none;
    margin-top: 0.2rem;
  }

  .dropdown-menu{
    max-height: 280px;
    overflow-y: auto;
  }

  #routeInfo{
    max-height: 280px;
    overflow-y: auto;
  }

  
